$turquoise: #66C6BD;
$turquoise-dark: #258E8E;
$turquoise-light: #ACDDDA;

$epic-pink: #EF4254;
$less-epic-pink: #f45d6c;


$primary-dark: #11B2B2;
$primary: #57FAFA;
$primary-light: lighten($primary, 20%);

$secondary-dark: #aa5724;
$secondary: rgb(255, 145, 81);
$secondary-light: #fffbf8;

$standard-content-side-padding: 10%;
$mobile-content-side-padding: 5%;
$top-content-padding: 7px;

:root {
   --global-primary-color: #{$primary};
   --global-primary-dark-color: #{$primary-dark};
   --global-primary-light-color: #{$primary-light};

   --global-secondary-color: #{$secondary};
   --global-secondary-dark-color: #{$secondary-dark};
   --global-secondary-light-color: #{$secondary-light};

   --standard-content-side-padding: #{$standard-content-side-padding};
   --mobile-content-side-padding: #{$mobile-content-side-padding};
   --top-content-padding: #{$top-content-padding};

   --padding-between-tiles: 1.2px;
}

$navigation-row-count: 1;
$navigation-li-height: 50px;
$navigation-li-tb-padding: 5px;
$navigation-li-total-height: ($navigation-li-height + $navigation-li-tb-padding * 2) * $navigation-row-count;

$full-screen-welcome-message-height: 548px;