html, body {
   height: 100%;
   width: 100%;
}

body {
   margin: 0px;
   overflow: hidden;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: min-content #{$navigation-li-total-height} 1fr;
   grid-template-areas: "WelcomeMessage" "navigation" "specific";
   transition: grid-template-rows 200ms;
   background-color: var(--global-primary-dark-color);

   // @media screen and (max-height: $full-screen-welcome-message-height ) { 
   //    grid-template-rows: 1fr #{($navigation-li-height + $navigation-li-tb-padding * 2) * $navigation-row-count} min-content;
   // }

   &.content-shown {
      @media screen and (max-height: $full-screen-welcome-message-height ) { 
         grid-template-rows: min-content #{($navigation-li-height + $navigation-li-tb-padding * 2) * $navigation-row-count} 1fr;
      }
   
      //grid-template-rows: 0px 30px 1fr;
      #WelcomeMessage{
         max-height: 0px;
      }
   }
}