@import "../mixins/mGeneral.scss";

#Content {
   grid-area: specific;
   transition-property: color, background-color;
   transition-duration: 200ms;
   @include applyContentPadding();
}

body.content-shown {
   #Content {
      color: var(--global-secondary-dark-color);
      background-color: var(--global-secondary-light-color);
   }
}