@import "../mixins/mGeneral.scss";

fake-page {
   flex: 1 1 auto;

   display: flex;
   flex-direction: column;
   // height: 100%;
   // width: 100%;

   box-sizing: border-box;
   // width: 100%;
   height: 100%;
   @include applyContentPadding();

   overflow: hidden;

   grid-area: specific;
   transition-property: color, background-color;
   transition-duration: 200ms;
}

body.content-shown {
   fake-page {
      color: var(--global-secondary-dark-color);
      background-color: var(--global-secondary-light-color);
   }
}