#Navigation {
   grid-area: navigation;
   display: flex;
   flex-direction: row;

   list-style-type: none;
   margin: 0px;
   padding: 0px;

   background-color: var(--global-primary-light-color);

   > li {
      display: flex;
      justify-content: center;
      align-items: center;

      height: $navigation-li-height;
      width: 50%;
      padding: $navigation-li-tb-padding 8px;
      
      cursor: pointer;
      
      font-weight: 600;
      font-size: 1.5rem;
      user-select: none; 
      color: var(--global-primary-dark-color);

      background-color: transparent;

      transition-duration: 200ms;
      transition-property: color, background-color;

      &:hover {
         background-color: var(--global-primary-dark-color);
         color: var(--global-primary-color);
      }

      &.selected {
         cursor: default;
         color: var(--global-secondary-dark-color);
         background-color: var(--global-secondary-light-color);
      }
   }
}