$turquoise: #66C6BD;
$turquoise-dark: #258E8E;
$turquoise-light: #ACDDDA;

$epic-pink: #EF4254;
$less-epic-pink: #f45d6c;

@mixin text-shadow($size, $color) {
   text-shadow: -#{$size} -#{$size} 0 $color, #{$size} -#{$size} 0 $color, -#{$size} #{$size} 0 $color, #{$size} #{$size} 0 $color;
}

#WelcomeMessage {
   // display: flex;
   // flex-direction: column;
   // justify-content: flex-end;
   // grid-area: WelcomeMessage;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 0.2fr 1fr;
   grid-template-areas: "greetings " "message";

   color: var(--global-primary-light-color);
   background-color: var(--global-primary-dark-color);
   //@include text-shadow(1px, var(--global-primary-light-color));

   text-align: center;
   font-size: 1.5rem;
   font-weight: 700;

   overflow: hidden;
   transition: max-height 200ms;
   max-height: 600px;

   h2 {
      padding: 0px;
      margin: 0px;
      grid-area: 'greetings';
      transition: margin-top 250ms ease-in-out;
      margin-top: 20px;

      @media screen and (max-height: $full-screen-welcome-message-height ) { 
         margin-top: 0px;
      }
   }

   div {
      grid-area: message;
      display:flex;
      flex-direction: column;
      align-content: flex-end;
      justify-content: flex-end;
      transition: padding 250ms ease-in-out;
      padding: 0px 10%;
      
      @media screen and (max-width: 768px) {
         padding: 0px 5%;
      }
   }
}