<!DOCTYPE html>
<html lang="{{it.lang}}" class="dark">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="Artur Madjidov's curriculum vitae"/>
      <title>Artur Madjidov | {{it.myTitle}}</title>
      <style>
         img {
            width: 100px;
         }

         ul {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
         }
      </style>
      <link rel="stylesheet" href="stylez.min.css">
      <script type="text/javascript">
         {{@include('page-loading.js', ) /}}
      </script>
   </head>
   <body class="bg-0">
      <div class="pane id bg-1">
         <h2>{{it.myTitle}}</h2>
         <div class="separator -horizontal"></div>
         <div>
         <h1>Artur Madjidov</h1>
            <div class="separator -vertical"></div>
            <ul class="socials">
               {{@each(it.socials.logos) => logo}}
                  <li>
                     <a href="{{logo.href}}" title="{{logo.title}}">
                        <img
                           src="{{it.socials.logosPath}}{{logo.path}}" 
                           alt="{{logo.title}}"
                           loading="eager"/>
                     </a>
                  </li>
               {{/each}}
            </ul>
         </div>
         <div class="separator -horizontal"></div>
         <h3>{{it.headline}}</h3>
      </div>
      <div class="separator"></div>
      <div class="pane technos bg-1">
         <ul>
            {{@each(it.technos.logos) => logo}}
               <li class="bg-2" title="{{logo.title}}">
                  <div>
                     {{@if(logo.path)}}
                        {{@if(typeof logo.path == 'string')}}
                           <img
                           src="{{it.technos.logosPath}}{{logo.path}}" 
                           alt="{{logo.title}}"
                           loading="eager" />
                        {{#else}}
                           <img
                           class="light"
                           src="{{it.technos.logosPath}}{{logo.path.light}}" 
                           alt="{{logo.title}}"
                           loading="lazy" />
                           <img
                           class="dark"
                           src="{{it.technos.logosPath}}{{logo.path.dark}}" 
                           alt="{{logo.title}}"
                           loading="eager" />
                         {{/if}}
                     {{#else}}
                        {{logo.title}}
                     {{/if}}
                  </div>
               </li>
            {{/each}}
         </ul>
      </div>
      <div class="footer">
         <div class="separator -horizontal"></div>
         <div class="content">
            <ul class="lang">
               {{@each(it.languages) => lang}}
                  {{@if(lang.current)}}
                     <li class="current"><span>{{lang.text}}</span></li>
                  {{#else}}
                     <li><a href="{{lang.href}}">{{lang.text}}</a></li>
                  {{/if}}
               {{/each}}
            </ul>
            <a id="sourceCode" href="https://github.com/Arturace/ArturCV/">Source code</a>
         </div>
      </div>
      <page-loading hide></page-loading>
   </body>
   <script type="text/javascript">
      // https://stackoverflow.com/questions/21054126/how-to-detect-if-a-device-has-mouse-support
      if (matchMedia('(hover:hover)').matches) {
         const TECHNOS = document.querySelectorAll('.technos ul li div');
         const CURSOR_OFFSET_SIZE = parseFloat(
               window
                  .getComputedStyle(TECHNOS[0])
                  .backgroundSize
                  .split(' ')[0]
                  .replace('px', '')
            )
            / 2;
         document.body.onmousemove = (e) =>
            TECHNOS.forEach(t => 
               t.style.setProperty(
                  'background-position'
                  , `${e.clientX - CURSOR_OFFSET_SIZE}px ${e.clientY - CURSOR_OFFSET_SIZE}px`
               )
            );
      }
      {{@include('show-loading-on-in-app-redirection.js', ) /}}
   </script>
</html>
