@use "_vars.scss" as VARS;
@use "_shared.scss" as SHARED;
@use "_root.scss";
@use "_theme.scss";
@use "_layout.scss";
@use "loading.scss";
@use "separator.scss";

.flex-center,
li,
ul {
  @extend %centered-flex;
}

ul {
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;

  &:not(.loaded) {
    display: none;
  }
}

a, button {
  display: block;
  @extend %drop-shadow;
  text-decoration: none;
  transition-property: background-color, color;
  transition-duration: 100ms;
  transition-timing-function: linear;
  background-color: #8DDBCD;
  color: black;
  
  &:link {
    background-color: #89E8A1;
  }
  &:visited {
    background-color: #8FE9F2;
  }
  &:hover {
    background-color: #8FF2C4;
  }
  &:active {
    background-color: #89E8A1;
  }
  &:focus {
    background-color: #8FF2C4;
  }
}

button {
  border: none;
  border-radius: 0;
}