@use "_shared.scss" as SHARED;

:root {
  --loading-transition-duration: 350ms;
}

el-loader {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  @extend %centered-flex;
}

app-loading {
  .overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 100;
  }

  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #8FF2C4;
    transition-duration: var(--loading-transition-duration);
    transition-timing-function: cubic-bezier(.25,.1,.25,1);
    // transition-delay: 100ms;
    color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.left .slide {
    top: 0;
    left: -100%;
    transition-property: left;
  }
  &.right .slide {
    top: 0;
    right: -100%;
    transition-property: right;
  }
  &.top .slide {
    top: -100%;
    right: 0;
    transition-property: top;
  }
  &.bottom .slide {
    bottom: -100%;
    right: 0;
    transition-property: bottom;
  }


  &.shown {
    .overlay {
      display: block;
    }

    &.left .slide {
      left: 0;
    }
    &.right .slide {
      right: 0;
    }
    &.top .slide {
      top: 0;
    }
    &.bottom .slide {
      bottom: 0;
    }
  }
}