@use "_vars.scss" as VARS;
@use "_shared.scss" as SHARED;

.technos,
.technos ul {
  overflow: auto;
}

.technos ul li {
  width: 100px;
  height: 100px;
  @extend %drop-shadow;
  background:
    radial-gradient(#8DDBCD 95%, transparent 100%) 
    fixed
    no-repeat;
  background-size: 90px 90px;

  img {
    width: 100px;
  }
}

@media screen and (max-width: VARS.$media-switch-at) {
  .technos {
    justify-content: start;
  }
}