$best: #146B36;
$best-dark: #46E89F;
$ok: #163240;
$ok-dark: #58C6FF;
$meh: #3D1C40;
$meh-dark: #B85AE8;

.programming-hover-item {
   &.have-experience {
      background-color: $best;
      color: $best-dark;
   }

   &.studied {
      background-color: $ok;
      color: $ok-dark;
   }

   &.not-efficient-enough {
      background-color: $meh;
      color: $meh-dark;
   }
}

#Programming > ul {
   &.have-experience {
      > li {
         > div  {
            background-color: $best;
            color: $best-dark;

            &:hover {
               background-color: $best-dark;
               color: $best;
            }
         }
      }
   }

   &.studied {
      > li {
         > div  {
            background-color: $ok;
            color: $ok-dark;

            &:hover {
               background-color: $ok-dark;
               color: $ok;
            }
         }
      }
   }

   &.not-efficient-enough {
      > li {
         > div  {
            background-color: $meh;
            color: $meh-dark;

            &:hover {
               background-color: $meh-dark;
               color: $meh;
            }
         }
      }
   }
}