@import "./mColoring.scss";

$item-width: 150px;
$item-height: 150px;

.list-container {
   display: flex;
   flex-direction: row;
   justify-content: start;

   .list-decorator {
      min-height: $item-height;
      width: $item-width;
      flex-shrink:  0;
      margin: var(--padding-between-tiles);
      margin-right: calc(var(--padding-between-tiles) * 2);
      margin-bottom: calc(var(--padding-between-tiles) * 2);
   
      background: linear-gradient(135deg, var(--global-secondary-light-color) 50%, rgba(9,9,121,1) 50%);
   }

   > ul {
      width: calc(100% - #{$item-width} - var(--padding-between-tiles));
      display: flex;
      flex-shrink: 0;
      flex-direction: row;
      justify-content: flex-start;
   
      overflow-y: hidden;
      overflow-x: auto;
   
      > li {
         display: flex;
         justify-content: center;
         align-items: flex-start;
   
         box-sizing: border-box;
         padding: var(--padding-between-tiles);
   
         &:first-child {
            padding-left: 0px;
         }
   
         &:last-child {
            padding-right: 0px;
         }
   
         > div {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
   
            transition-property: width, height;
            transition-duration: 200ms;
            transition-timing-function: linear;
            
            min-height: $item-height;
            width: $item-width;
   
            cursor: pointer;
         }
   
         margin-bottom: var(--padding-between-tiles);
   
         &:last-child {
            margin-bottom: 0;
         }
      }
   }

   @include list-container();
}

.programming-hover-item {   
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   position: absolute;

   padding: 11px;
   height: $item-height;
   width: $item-width;

   transition-property: opacity, width, height, top, left;
   transition-duration: 200ms;
   transition-timing-function: linear;

   &.in-middle {
      $middle-item-height: $item-height * 2.5;
      $middle-item-width: $item-width * 2.5;

      top: calc(50% - #{$middle-item-height / 2});
      left: calc(50% - #{$middle-item-width / 2});
      min-height: $middle-item-height;
      width: $middle-item-width;
   }

   @include hover-item-coloring();
}