$best: #146B36;
$best-dark: #46E89F;
$ok: #163240;
$ok-dark: #58C6FF;
$meh: #3D1C40;
$meh-dark: #B85AE8;

$types: ('have-experience', 'studied', 'not-efficient-enough');
$types-background-colors: ($best, $ok, $meh);
$types-colors: ($best-dark, $ok-dark, $meh-dark);

@mixin hover-item-coloring(){
    @for $a from 1 to length($types) {
        &.#{nth($types, $a)} {
            background-color: nth($types-background-colors, $a);
            color: nth($types-colors, $a);
        }
    }
}

@mixin list-container(){
    @for $a from 1 to length($types) + 1 {
        &.#{nth($types, $a)} {
            .list-decorator {
                background: linear-gradient(135deg, var(--global-secondary-light-color) 50%, nth($types-background-colors, $a) 50%);
             }
       
             > ul > li {
                > div  {
                   background-color: nth($types-background-colors, $a);
                   color: nth($types-colors, $a);
       
                   &:hover {
                      background-color: nth($types-colors, $a);
                      color: nth($types-background-colors, $a);
                   }
                }
             }
        }
    }
}